/*!*****************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[7].use[3]!./src/app/page.module.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************/
.page_container__HHToX{
  display: flex;
  align-items: center;
  gap: 100px;
}

.page_item__r9nMA{
  flex: 1 1;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.page_title__yhPp_{
  font-size: 48px;
  background: linear-gradient(to bottom, #194c33, #bbb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.page_img__p8RFt{
  width: 100%;
  height: 500px;
  object-fit: contain;
  animation: page_move__B8BMe 3s infinite ease alternate;

}

@keyframes page_move__B8BMe {
    from{
        transform: translateY(-10px);
    }
    to{
        transform: translateY(10px);
    }
}
.page_desc__5fHBq{
  font-style: 18px;
  font-weight: 300;
}
/*!********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[7].use[3]!./src/component/Button/button.module.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************************/
.button_container__Etm0S{
    padding: 12px 28px;
    font-size: 18px;
    cursor: pointer;
    background-color: #53c28b;
    border: none;
    border-radius: 3px;
    width: max-content;
    color: wheat;
    font-weight: 100;
  }
  .button_container__Etm0S:hover{
    background-color: #28bb8b;
  }
